/*CSS */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;


}

body{
    color: black;
    font-family: "Italiana", serif;
}

.cuadro{
    background-image: linear-gradient(to right, rgba(158,0,0,1), rgba(56,0,0,1));
    height: 30%;

}

h1{
    color: black;
    font-family: "Italiana", serif;
    font-size: 100px;
    
    
  
}

h2{
    text-align: center;
}

.sopa{
    text-align: center;
    margin-left: 10%;
    


}

.lista h1{

    text-align: center;
    margin-left: 10%
    text-align: right;
    
    
}

.fila{
    display:block


}

.columna{
    display: inline-block;

}

.titulo h1{
    text-align: center;
    background-color: #CACACA;
    width:40%;
    margin-left:35%
    
}

.contenido{

    text-align: center;
    
    background-color: #CACACA;
    width:50%;
    margin-left:25%

    
}

p{
    font-size: 50px;
}

.fondo{
    background-image: url("../img/Fondo nuevo.png");
    width: 100%;
    height: 100%;
    background-size: contain;

}

.cuadro img{
    width: 200px;

}

.img-principal{
    width: 100%;


}
.ingredientes ul{
    list-style-type: none;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    height: 50%;
    text-align: left;
    

    
    
}
.ingredientes ul li{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 142px;
    width: 50%;
    
    
    

}

.ingredientes ul li .icono{
    margin right: 20px;
    float: left;
    
    
    
    
}



